<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Manage Nodes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="ion-padding">
    <ion-button color="danger" (click)="stopFinding()" *ngIf="isSearching"><ion-icon name="close-outline" slot="start"></ion-icon>Stop searching</ion-button>
    <ion-button color="primary" (click)="findNodes()" *ngIf="!isSearching"><ion-icon name="search-outline" slot="start"></ion-icon>Find new nodes</ion-button>
    <ion-button color="success" (click)="addNode()"><ion-icon name="add-outline" slot="start"></ion-icon>Add node</ion-button>
    <ion-button color="warning" *ngIf="isNodeSelected" (click)="editNode()"><ion-icon name="create-outline" slot="start"></ion-icon>Edit node</ion-button>
    <ion-button color="danger" *ngIf="isNodeSelected" (click)="deleteNode()"><ion-icon name="close-outline" slot="start"></ion-icon>Delete node</ion-button>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="vertical-text">
        <ion-label>
          Nodes:
        </ion-label>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-button (click)="refreshNodes()" *ngIf="!isSearching" [disabled]="autoRefreshNodes"><ion-spinner *ngIf="autoRefreshNodes"></ion-spinner><p *ngIf="!autoRefreshNodes">Refresh nodes</p></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ngx-datatable
          class="material"
          [rows]="nodes"
          [rowHeight]="50"
          [headerHeight]="50"
          [footerHeight]="50"
          [columnMode]="'standard'"
          [selectionType]="SelectionType.single"
          [selected]="selected"
          (select)="onSelect($event)"
          [trackByProp]="'updated'">
    <ngx-datatable-column name="Status" width="65">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <ion-icon name="radio-button-on" color="{{row.connected}}" slot="icon-only"></ion-icon>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ID" width="150">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="IP" width="150">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Chain Length" width="100">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Given Blocks" width="125">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Contributed Blocks" width="125">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</ion-content>
